---
services:
  fuelhook:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fuelhook
    environment:
      - "APPRISE_URL="
      - "FUEL_TYPES=[\"E10\", \"U91\", \"U95\", \"U98\", \"Diesel\", \"LPG\"]"
      - "REGION=All"
      - "TZ=UTC"
    image: fuelhook
    restart: unless-stopped
    volumes:
      - type: volume
        source: fuelhook_data
        target: /opt/fuelhook/data
volumes:
  fuelhook_data:
    name: fuelhook_data
